
.main-container {
    display: flex;
  }
  
  .tracker-container {
    margin-left: 370px; 
    margin-top: 30px;
    padding: 40px;

    border: 1px solid #e9e1e1;
    border-radius: 5px;
    height: 700px;
    width: 1200px;
    box-shadow: 0 0 20px rgba(5, 0, 0, 0.3); 

  }
  
 